@font-face {
    font-family: WorkSans;
    src: url(assets/fonts/WorkSans-Italic-VariableFont_wght.ttf);
    font-style: italic;
}

@font-face {
    font-family: WorkSans;
    src: url(assets/fonts/WorkSans-VariableFont_wght.ttf);
    font-style: normal;
}

:root {
 --white: hsl(0, 0%, 100%);
 --color-pink: hsl(275, 100%, 97%);
 --color-purple-grayish: hsl(292, 16%, 49%);
 --color-purple-dark: hsl(292, 42%, 14%);
 --color-purple-light: #f6eef9;
 --color-purple-light-2: #AD28EB;

 --transparent-purple-dark: hsla(292, 38%, 45%, 0.382);


 --font-bg: 5rem;
 --font-md: 1.8rem;
 --font-sm: 1.6rem;
}

// for root
@media screen and (max-width: 730px) {
  :root {
    --font-bg: 4rem;
    --font-md: 1.5rem;
    --font-sm: 1.4rem;
  }

@media screen and (max-width: 500px) {
  :root {
    --font-bg: 4rem;
    --font-md: 1.4rem;
    --font-sm: 1.2rem;
  }

@media screen and (max-width: 375px) {
  :root {
    --font-bg: 3.5rem;
    // --font-md: 1.4rem;
    // --font-sm: 1.2rem;
  }
}
}   }

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

html {
    font-size: 62.5%;
}

body {
    font-family: WorkSans, sans-serif;

    background-color: var(--color-purple-light);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

  
    &-img {
        width: 100%;
        position: relative;

        svg {
        z-index: 1;
        width: 100%;

       
        }

        .mobile {
            display: none;

            @media screen and (max-width: 375px) {
                display: block;
                
            }
        }

        .desktop {
            @media screen and (max-width: 375px) {
                display: none;
            }
        }

}
   
}

.accordion {
    max-width: 70rem;
    padding: 4rem;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 9999;
    background-color: var(--white);
    box-shadow: var(--transparent-purple-dark) 0px 3px 20px;
    border-radius: 11px;

    @media screen and (max-width: 980px) {
     width: 70rem!important;
     top: 45%;
       }

     @media screen and (max-width: 730px) {
     width: 50rem!important;

    
       }   

    @media screen and (max-width: 520px) {
     width: 30rem!important;
     top: 40%;
     padding: 3rem;
    }

    @media screen and (max-width: 375px) {
    width: 30rem!important;
    top: 45%;
    padding: 2.5rem;
    }

    &-title {
        color: var(--color-purple-dark);
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-bottom: 1.5rem;

        &-text {
        font-size: var(--font-bg);

    }


    &-svg {
        width: 5rem;
        height: 5rem;

        @media screen and (max-width: 375px) {
           width: 3rem;
           height: 3rem;
       }
       }
}
}

.box {
    &-question {
        font-size: var(--font-md);
        color: var(--color-purple-dark);
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
        transition: 0.3s all;
        gap: 1rem;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        tap-highlight-color: transparent;
       
        &:hover {
            color: var(--color-purple-grayish);

            
        }
       
        @media screen and (max-width: 375px) {
           gap: 2.2rem;
        }

       
        &:not(:nth-child(1)) {
            padding-top: 1.5rem;
            border-top: 1px solid var(--color-purple-light);
        }

      
        }
    


    &-answer {
        overflow: hidden;
        font-size: var(--font-sm);
        color: var(--color-purple-grayish);
        margin-bottom: 2rem;
        transition: all 0.3s;
   
    }

  

    &-icon {
        fill: var(--color-purple-light-2);
        transition: 0.3s all;
        width: 4rem;
        height: 4rem;
        flex-shrink: 0;
        
        @media screen and (max-width: 980px) {
            width: 3.5rem;
            height: 3.5rem;
           }
     
        @media screen and (max-width: 500px) {
            width: 3rem;
            height: 3rem;
        }

        @media screen and (max-width: 980px) {
            width: 2.8rem;
            height: 2.8rem;
        }
     
         
        &:hover {
            fill: var(--color-purple-grayish);
            cursor: pointer;
            
         &-question {
            color: var(--color-purple-grayish);
                
        }
    }
    
}


// hide div
.hidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
 
}

}


